/* Enter your custom styles here */

.home-background{
    background-image: url('../image/Home.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  